1.	Land temperature
2.	Ocean Temperature
3.	Air Pollution Levels
4.	AQI Index
5.	CO AQI Value
6.	N02 AQI Value
7.	Ozone AQI Value

If there is an industry in a particular city, say ABC, the collector or government officials collect reports on the industry every year. If the industry doesnâ€™t satisfy the particular criteria, the government can ban or restrict the industry from operating in that location. So, the government and the industries can have this App or website and regularly check if they are performing well. 

AQI 

0 TO 50 IS GOOD

51 TO 100 SATISFACTORY

101 TO 200 MODERATE

201 TO 300 POOR

301 TO 400 TOO POOR

401 TO 500 SEVERE


This is accessible to everyone and even small brick factories and other small industries can download this app so that the climatic conditions are satisfied.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns
import time
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv(r'c:\Users\Sushree S Swain\Desktop\combined_data.csv')

In [103]:
df2 = pd.read_csv(r'c:\Users\Sushree S Swain\Desktop\global air pollution dataset.csv')

In [104]:
df2.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [108]:
df2.value_counts()

Country      City                AQI Value  AQI Category    CO AQI Value  CO AQI Category  Ozone AQI Value  Ozone AQI Category              NO2 AQI Value  NO2 AQI Category  PM2.5 AQI Value  PM2.5 AQI Category
Afghanistan  Acin                62         Moderate        0             Good             46               Good                            0              Good              62               Moderate              1
Poland       Radzyn Podlaski     42         Good            1             Good             42               Good                            0              Good              28               Good                  1
             Skawina             58         Moderate        1             Good             34               Good                            2              Good              58               Moderate              1
             Skarzysko Kamienna  32         Good            1             Good             28               Good                            1              Good              32               Good                  1
             Sierpc              34         Good            1             Good             34               Good                            0              Good              28               Good                  1
                                                                                                                                                                                                                   ..
India        Arani               61         Moderate        0             Good             26               Good                            0              Good              61               Moderate              1
             Arang               155        Unhealthy       3             Good             38               Good                            3              Good              155              Unhealthy             1
             Arambagh            170        Unhealthy       2             Good             82               Moderate                        2              Good              170              Unhealthy             1
             Ara                 209        Very Unhealthy  2             Good             103              Unhealthy for Sensitive Groups  1              Good              209              Very Unhealthy        1
Zimbabwe     Zvishavane          39         Good            1             Good             18               Good                            0              Good              39               Good                  1
Name: count, Length: 23035, dtype: int64

In [109]:
df2.isnull().sum()

Country               427
City                    1
AQI Value               0
AQI Category            0
CO AQI Value            0
CO AQI Category         0
Ozone AQI Value         0
Ozone AQI Category      0
NO2 AQI Value           0
NO2 AQI Category        0
PM2.5 AQI Value         0
PM2.5 AQI Category      0
dtype: int64

In [111]:
df2.Country.mode()

0    United States of America
Name: Country, dtype: object

In [113]:
df2['City'].fillna('Unknown', inplace = True)

In [114]:
df2['Country'].fillna('Unknown', inplace=True)

In [116]:
df2.isnull().sum()

Country               0
City                  0
AQI Value             0
AQI Category          0
CO AQI Value          0
CO AQI Category       0
Ozone AQI Value       0
Ozone AQI Category    0
NO2 AQI Value         0
NO2 AQI Category      0
PM2.5 AQI Value       0
PM2.5 AQI Category    0
dtype: int64

In [117]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             23463 non-null  object
 1   City                23463 non-null  object
 2   AQI Value           23463 non-null  int64
 3   AQI Category        23463 non-null  object
 4   CO AQI Value        23463 non-null  int64
 5   CO AQI Category     23463 non-null  object
 6   Ozone AQI Value     23463 non-null  int64
 7   Ozone AQI Category  23463 non-null  object
 8   NO2 AQI Value       23463 non-null  int64
 9   NO2 AQI Category    23463 non-null  object
 10  PM2.5 AQI Value     23463 non-null  int64
 11  PM2.5 AQI Category  23463 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.1+ MB

In [115]:
df2.head(2)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good

In [2]:
df.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,State,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1743-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1744-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1744-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1744-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10064718 entries, 0 to 10064717
Data columns (total 16 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   dt                                         object
 1   AverageTemperature                         float64
 2   AverageTemperatureUncertainty              float64
 3   City                                       object
 4   Country                                    object
 5   Latitude                                   object
 6   Longitude                                  object
 7   State                                      object
 8   LandAverageTemperature                     float64
 9   LandAverageTemperatureUncertainty          float64
 10  LandMaxTemperature                         float64
 11  LandMaxTemperatureUncertainty              float64
 12  LandMinTemperature                         float64
 13  LandMinTemperatureUncertainty              float64
 14  LandAndOceanAverageTemperature             float64
 15  LandAndOceanAverageTemperatureUncertainty  float64
dtypes: float64(10), object(6)
memory usage: 1.2+ GB

In [4]:
df.isnull().sum()

dt                                                  0
AverageTemperature                             436623
AverageTemperatureUncertainty                  435884
City                                          1226329
Country                                          3192
Latitude                                      1226329
Longitude                                     1226329
State                                         9419043
LandAverageTemperature                       10061538
LandAverageTemperatureUncertainty            10061538
LandMaxTemperature                           10062726
LandMaxTemperatureUncertainty                10062726
LandMinTemperature                           10062726
LandMinTemperatureUncertainty                10062726
LandAndOceanAverageTemperature               10062726
LandAndOceanAverageTemperatureUncertainty    10062726
dtype: int64

In [5]:
df.LandMaxTemperature.median()

14.76

In [6]:
df.AverageTemperature.mode()

0    26.544
Name: AverageTemperature, dtype: float64

In [7]:
df.AverageTemperatureUncertainty.median()

0.5920000000000001

In [8]:
df.Country.mode()

0    India
Name: Country, dtype: object

In [9]:
df.City.mode()

0              London
1    Saint Petersburg
Name: City, dtype: object

In [10]:
df.State.mode()

0            Adygey
1           Alabama
2      Arkhangel'Sk
3          Belgorod
4           Bryansk
          ...
75          Vologda
76         Voronezh
77    West Virginia
78        Wisconsin
79       Yaroslavl'
Name: State, Length: 80, dtype: object

In [11]:
df.isnull().sum()

dt                                                  0
AverageTemperature                             436623
AverageTemperatureUncertainty                  435884
City                                          1226329
Country                                          3192
Latitude                                      1226329
Longitude                                     1226329
State                                         9419043
LandAverageTemperature                       10061538
LandAverageTemperatureUncertainty            10061538
LandMaxTemperature                           10062726
LandMaxTemperatureUncertainty                10062726
LandMinTemperature                           10062726
LandMinTemperatureUncertainty                10062726
LandAndOceanAverageTemperature               10062726
LandAndOceanAverageTemperatureUncertainty    10062726
dtype: int64

In [23]:
df.LandAndOceanAverageTemperatureUncertainty.median()

0.122

In [22]:
df.LandAndOceanAverageTemperature.median()

15.251000000000001

In [21]:
df.LandMinTemperatureUncertainty.median()

0.279

In [20]:
df.LandMinTemperature.mode()

0   -1.139
1    7.818
2    7.892
3    8.161
4    8.184
Name: LandMinTemperature, dtype: float64

In [19]:
df.LandMaxTemperatureUncertainty.median()

0.252

In [18]:
df.LandMaxTemperature.mode()

0      8.555
1     10.781
2     11.411
3     17.196
4     17.289
5     17.713
6     19.360
7     19.628
8     19.753
9     19.850
10    19.987
11    20.037
Name: LandMaxTemperature, dtype: float64

In [17]:
df.LandAverageTemperatureUncertainty.median()

0.392

In [13]:
df.Latitude.mode()

0    36.17N
Name: Latitude, dtype: object

In [15]:
df.Longitude.mode()

0    139.23E
Name: Longitude, dtype: object

In [16]:
df.LandAverageTemperature.mode()

0    13.293
1    13.765
Name: LandAverageTemperature, dtype: float64

In [12]:
df.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude', 'State', 'LandAverageTemperature',
       'LandAverageTemperatureUncertainty', 'LandMaxTemperature',
       'LandMaxTemperatureUncertainty', 'LandMinTemperature',
       'LandMinTemperatureUncertainty', 'LandAndOceanAverageTemperature',
       'LandAndOceanAverageTemperatureUncertainty'],
      dtype='object')

In [24]:
df['Country'].fillna('Unknown', inplace=True)

In [31]:
from sklearn.impute import SimpleImputer
columns_to_impute = [
    'AverageTemperatureUncertainty',
    'LandAndOceanAverageTemperature',
    'LandAndOceanAverageTemperatureUncertainty',
    'AverageTemperatureUncertainty',
    'LandAverageTemperature',
    'LandAverageTemperatureUncertainty',
    'LandMaxTemperatureUncertainty',
    'LandMinTemperatureUncertainty'
]
imputer = SimpleImputer(strategy='median')

df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])

In [32]:
from sklearn.impute import SimpleImputer
columns_to_impute2 = [
    'AverageTemperature',
    'LandAndOceanAverageTemperature',
    'AverageTemperature',
    'LandAverageTemperature',
    'LandMaxTemperature',
    'LandMinTemperature',
    'Latitude',
    'Longitude'
]
imputer = SimpleImputer(strategy='most_frequent')

df[columns_to_impute2] = imputer.fit_transform(df[columns_to_impute2])

In [34]:
df['Country'].fillna('Unknown', inplace=True)

In [35]:
df['City'].fillna('Unknown', inplace=True)

In [36]:
df['State'].fillna('Unknown', inplace=True)

In [37]:
df.head(1)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,State,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E,Unknown,8.6105,0.392,8.555,0.252,-1.139,0.279,15.251,0.122

In [38]:
df.isnull().sum()

dt                                           0
AverageTemperature                           0
AverageTemperatureUncertainty                0
City                                         0
Country                                      0
Latitude                                     0
Longitude                                    0
State                                        0
LandAverageTemperature                       0
LandAverageTemperatureUncertainty            0
LandMaxTemperature                           0
LandMaxTemperatureUncertainty                0
LandMinTemperature                           0
LandMinTemperatureUncertainty                0
LandAndOceanAverageTemperature               0
LandAndOceanAverageTemperatureUncertainty    0
dtype: int64

In [39]:
df.dtypes

dt                                            object
AverageTemperature                            object
AverageTemperatureUncertainty                float64
City                                          object
Country                                       object
Latitude                                      object
Longitude                                     object
State                                         object
LandAverageTemperature                        object
LandAverageTemperatureUncertainty            float64
LandMaxTemperature                            object
LandMaxTemperatureUncertainty                float64
LandMinTemperature                            object
LandMinTemperatureUncertainty                float64
LandAndOceanAverageTemperature                object
LandAndOceanAverageTemperatureUncertainty    float64
dtype: object

In [58]:
lower_bound = 10
upper_bound = 40
df['LandAndOceanAverageTemperature'] = df['LandAndOceanAverageTemperature'].clip(lower=lower_bound, upper=upper_bound)

In [57]:
lower_bound = 10
upper_bound = 40
df['LandAverageTemperature'] = df['LandAverageTemperature'].clip(lower=lower_bound, upper=upper_bound)

In [56]:
lower_bound = -10
upper_bound = 10
df['LandMinTemperature'] = df['LandMinTemperature'].clip(lower=lower_bound, upper=upper_bound)

In [85]:
lower_bound = 0
upper_bound = 50
df['LandMaxTemperature'] = df['LandMaxTemperature'].clip(lower=lower_bound, upper=upper_bound)

In [86]:
Q1 = df['LandAndOceanAverageTemperature'].quantile(0.25)
Q3 = df['LandAndOceanAverageTemperature'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['LandAndOceanAverageTemperature'] < lower_bound) | (df['LandAndOceanAverageTemperature'] > upper_bound)]

In [87]:
df.value_counts()

dt          AverageTemperature  AverageTemperatureUncertainty  LandAverageTemperature  LandAverageTemperatureUncertainty  LandMaxTemperature  LandMaxTemperatureUncertainty  LandMinTemperature  LandMinTemperatureUncertainty  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty  CombinedLocation               Coordinates
1900-12-01   21.222             1.052                          10.0                    0.392                              10.0                0.252                          -1.139              0.279                          15.251                          0.122                                      Durban, South Africa, Unknown  29.74S, 31.38E     2
1870-07-01   28.213             1.470                          10.0                    0.392                              10.0                0.252                          -1.139              0.279                          15.251                          0.122                                      Nanjing, China, Unknown        31.35N, 118.74E    2
1796-04-01   28.015             1.875                          10.0                    0.392                              10.0                0.252                          -1.139              0.279                          15.251                          0.122                                      Dhaka, Bangladesh, Unknown     23.31N, 90.00E     2
1858-01-01  -3.694              1.901                          10.0                    0.392                              10.0                0.252                          -1.139              0.279                          15.251                          0.122                                      Tianjin, China, Unknown        39.38N, 116.53E    2
1819-11-01   18.559             0.592                          10.0                    0.392                              10.0                0.252                          -1.139              0.279                          15.251                          0.122                                      Baghdad, Iraq, Unknown         32.95N, 45.00E     2
                                                                                                                                                                                                                                                                                                                                                            ..
1877-11-01   7.826              1.467                          10.0                    0.392                              10.0                0.252                          -1.139              0.279                          15.251                          0.122                                      Kumagaya, Japan, Unknown       36.17N, 139.23E    1
                                                                                                                                                                                                                                                                                                           Machida, Japan, Unknown        36.17N, 139.23E    1
                                                                                                                                                                                                                                                                                                           Matsudo, Japan, Unknown        36.17N, 139.23E    1
                                                                                                                                                                                                                                                                                                           Misato, Japan, Unknown         36.17N, 139.23E    1
2013-09-01   30.951             1.084                          10.0                    0.392                              10.0                0.252                          -1.139              0.279                          15.251                          0.122                                      La Paz, Mexico, Unknown        24.92N, 109.95W    1
Name: count, Length: 9840086, dtype: int64

In [88]:
outliers.value_counts()

Series([], Name: count, dtype: int64)

In [89]:
df = df[~df.index.isin(outliers.index)]

In [ ]:
df['CombinedLocation'] = df[['City', 'Country', 'State']].apply(lambda x: ', '.join(x.dropna().astype(str)), axis=1)

In [ ]:
df['Coordinates'] = df[['Latitude','Longitude']].apply(lambda x: ', '.join(x.dropna().astype(str)), axis=1)

In [ ]:
columns_to_drop = ['Country', 'City', 'State', 'Latitude', 'Longitude']
df.drop(columns=columns_to_drop, inplace=True)

In [94]:
df.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,CombinedLocation,Coordinates
0,1743-11-01,6.068,1.737,10,0.392,10.0,0.252,-1.139,0.279,15.251,0.122,"Ã…rhus, Denmark, Unknown","57.05N, 10.33E"
1,1743-12-01,18.559,0.592,10,0.392,10.0,0.252,-1.139,0.279,15.251,0.122,"Ã…rhus, Denmark, Unknown","57.05N, 10.33E"
2,1744-01-01,18.559,0.592,10,0.392,10.0,0.252,-1.139,0.279,15.251,0.122,"Ã…rhus, Denmark, Unknown","57.05N, 10.33E"
3,1744-02-01,18.559,0.592,10,0.392,10.0,0.252,-1.139,0.279,15.251,0.122,"Ã…rhus, Denmark, Unknown","57.05N, 10.33E"
4,1744-03-01,18.559,0.592,10,0.392,10.0,0.252,-1.139,0.279,15.251,0.122,"Ã…rhus, Denmark, Unknown","57.05N, 10.33E"

In [95]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['LandMaxTemperature', 'dt'])  # Features
y = df['LandMaxTemperature']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (8050180, 11)
X_test shape: (2012546, 11)
y_train shape: (8050180,)
y_test shape: (2012546,)

In [96]:
df['LandMaxTemperature'] = df['LandMaxTemperature'].astype(float)
print(df.dtypes)

dt                                            object
AverageTemperature                            object
AverageTemperatureUncertainty                float64
LandAverageTemperature                        object
LandAverageTemperatureUncertainty            float64
LandMaxTemperature                           float64
LandMaxTemperatureUncertainty                float64
LandMinTemperature                            object
LandMinTemperatureUncertainty                float64
LandAndOceanAverageTemperature                object
LandAndOceanAverageTemperatureUncertainty    float64
CombinedLocation                              object
Coordinates                                   object
dtype: object

In [97]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

numeric_df = df[numeric_columns]

X = numeric_df.drop(columns='LandMaxTemperature')  # Features (excluding the target variable)
y = numeric_df['LandMaxTemperature']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)

y_pred = linear_reg_model.predict(X_test)

from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print("R-squared score:", r2)

R-squared score: 1.0

In [98]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (MAE):", mae)

Mean Squared Error (MSE): 0.0
Root Mean Squared Error (RMSE): 0.0
Mean Absolute Error (MAE): 0.0

In [99]:
tolerance = 1.0

within_tolerance = np.sum(abs(y_test - y_pred) <= tolerance)
total_samples = len(y_test)
accuracy_like_metric = (within_tolerance / total_samples) * 100

print(f"Accuracy-like metric (within {tolerance} degrees): {accuracy_like_metric:.2f}%")

Accuracy-like metric (within 1.0 degrees): 100.00%

In [100]:
df.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty',
       'LandAverageTemperature', 'LandAverageTemperatureUncertainty',
       'LandMaxTemperature', 'LandMaxTemperatureUncertainty',
       'LandMinTemperature', 'LandMinTemperatureUncertainty',
       'LandAndOceanAverageTemperature',
       'LandAndOceanAverageTemperatureUncertainty', 'CombinedLocation',
       'Coordinates'],
      dtype='object')

In [101]:
selected_columns = ['AverageTemperature', 'AverageTemperatureUncertainty', 
                    'LandAverageTemperature', 'LandAverageTemperatureUncertainty',
                    'LandAndOceanAverageTemperature']

input_data = df[selected_columns]

predicted_land_max_temperature = linear_reg_model.predict(input_data)

print("Predicted LandMaxTemperature:")
print(predicted_land_max_temperature)

Predicted LandMaxTemperature:
[10. 10. 10. ... 10. 10. 10.]

In [102]:
def predict_land_max_temp(input_data):
    predicted_land_max_temperature = linear_reg_model.predict(input_data)
    return predicted_land_max_temperature

custom_input_data = [[20.0, 0.2, 22.0, 0.3, 25.0]]
predicted_temp = predict_land_max_temp(custom_input_data)

print("Predicted LandMaxTemperature:")
print(predicted_temp)

Predicted LandMaxTemperature:
[10.]